body {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

#header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.section-header {
  font-family: 'Nova Square', sans-serif;
  font-size: max(8vw, 25px);
  margin: 0;
  color: white;
  /* color: #eeaf9d; */
  /* color: #eae4cc; */
  /* color: #fffeb3; */
}
