body {
  overflow-x: hidden;
  position: relative;
}

.App {
  text-align: center;
}

#hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.section-header {
  font-family: 'Nova Square', sans-serif;
  font-size: max(5vw, 25px);
  margin: 0;
  color: white;
  margin-top: 25px;
}

.section-subheader {
  color: #fff;
  font-size: max(1.9vw, 15px);
  padding: 10px;
  font-family: 'Bricolage Grotesque', sans-serif;
  margin: 0;
  margin-bottom: 40px;
}
