body {
  overflow-x: hidden;
  position: relative;
}

.App {
  text-align: center;
}

#hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.section-header {
  font-family: 'Nova Square', sans-serif;
  font-size: max(8vw, 25px);
  margin: 0;
  color: white;
  margin-top: 25px;
}
