#accomplishments-section {
  display: flex;
  flex-direction: column;
  background-color: #182335;
  padding-top: 40px;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  padding: 50px;
  min-height: 100vh;
  min-height: 100svh;
  margin-bottom: 50px;
}

.tilt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tilt svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 81px;
}

.tilt .shape-fill {
  fill: #182335;
}



.accomplishments-statement {
  margin: 0;
}

.accomplishments-section-heding {
  margin-top: 50px;
  margin-bottom: 5px;
}

.phases {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.phase-card {
  width: 32%;
  border-radius: .25rem;
  background-color: #eae4cc;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1250px) {
  .phases {
    display: flex;
    flex-direction: column;
  }

  .phase-card {
    width: 100%;
    margin-bottom: 5px;
  }
}
