.admin-card {
    display: flex;
    justify-content: start;
    align-items: end;
    background: #EAE4CC;
    padding: 13px;
    padding-left: 50px;
    width: 400px;
    position: relative;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #182335;
    margin: 15px;
}

.admin-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #182335;
}

.admin-image {
    position: absolute;
    left: -15%;
    top: 10%;
    border-radius: 5%;
    width: 10.5vh;
    height: 10.5vh;
    box-shadow: 5px 5px 5px black;
}

.admin-card-title {
    display: flex;
    align-items: baseline;
}

.card-title-role {
    font-family: 'Lato', sans-serif;
}   

.card-title-admin {
    font-family: 'Nova Square', sans-serif;
    padding-left: 3px;
}

.admin-card-info p {
    font-family: 'Lato', sans-serif;
    padding-left: 10px;
    font-size: 13px;
}



@media screen and (max-width: 520px) {
    .admin-card {
    width: 300px;
    }

    .admin-card-info {
        margin-left: 20px;
    }

    .card-title-admin {
        font-size: 17px;
    }
    
    .card-title-role {
        font-size: 20px;
    }
}