.raid-card {
    color: #ffff;
    display: flex;
    flex-direction: column;
    aspect-ratio: 16/13;
}

.empty {
    flex-basis: 65%;
}

.raid-details {
    font-family: 'Nova Square', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8A1103;
    flex-basis: 35%;
    padding-top: 5px;
    clip-path: polygon(100% 25%,
            100% 100%,
            100% 100%,
            100% 100%,
            0% 100%,
            0% 0%);
}

.raid-details h4 {
    margin-top: 55px;
    font-size: 2vw;
}

@media screen and (max-width: 1250px) {
    .raid-card {
        aspect-ratio: 16/10;
    }

    .raid-details h4{
        font-size: 5vw;
        margin-top: 25px;
    }
}