.raid-card {
    background-color: black;
    border: 1px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.raid-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-basis: 35%;
    padding-top: 5px;
    clip-path: polygon(100% 25%,
            100% 100%,
            100% 100%,
            100% 100%,
            0% 100%,
            0% 0%);
}
