.raid-group-card-header {
    background: #E15546;
    font-family: 'Nova Square', sans-serif;
    font-size: 2.7vw;
    color: #EAE4CC;
}

.raid-group-card {
    border: solid 1px #E15546;
    /* width: 200px; */
}

.raid-group-card-details {
    margin: 15px;
    font-size: 1.3vw;
    font-weight: bold;
}
