.raid-card {
    border-radius: 1rem;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    aspect-ratio: 16/13;
    margin: 3px;
}

.empty {
    flex-basis: 65%;
}

.raid-details {
    font-family: 'Nova Square', sans-serif;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8A1103;
    flex-basis: 35%;
    padding-top: 5px;
    clip-path: polygon(100% 25%,
            100% 100%,
            100% 100%,
            100% 100%,
            0% 100%,
            0% 0%);
}

.raid-details h4 {
    margin-top: 55px;
    font-size: 30px;
}

@media screen and (max-width: 1250px) {
    .raid-card {
        aspect-ratio: 16/10;
    }
}