.roster-content {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.dps-side {
    flex-basis: 40%;
}

.dps-group {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 5;
}

.player-card {
    margin: 5px;
    width: 300px;
    border-radius: 5px;
    font-family: 'Bricolage Grotesque', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-info {
    background-color: #2e4873;
    display: flex;
    justify-content: start;
    align-items: end;
}

.player-info img {
    width: 40px;
}

.player-info p {
    margin: auto;
    margin-left: 10px;
}

.no-info {
    background-color: #263854;
    border: solid #2e4873 1px;
    font-style: italic;
    font-size: small;
}
