.roster-content {
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.dps-group {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    /* flex-grow: 5; */
}

.player-card {
    margin: 5px;
    width: 300px;
    border-radius: 5px;
    font-family: 'Bricolage Grotesque', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-info {
    background-color: #2e4873;
}

.no-info {
    background-color: #263854;
    border: solid #2e4873 1px;
    font-style: italic;
    font-size: small;
}