.slide-show {
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.slide-show-slider {
    margin: 0;
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    width: 100%;
}
