.slide-show {
    margin: 0;
    overflow: hidden;
    width: 90%;
    padding-bottom: 10px;
}

.slide-show-slider {
    margin: 0;
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    width: 100%;
    border-radius: 40px;
}