.redshift-neon-logo {
    color: #EAE4CC;
    font-family: 'Nova Square', sans-serif;
    overflow: hidden;
}

@keyframes slideIn {
    from {
        transform: translateX(400px);
        overflow: hidden;
        /* opacity: 0; */
    }

    to {
        transform: translateX(0);
    }
}

h1 {
    font-size: 100px;
    animation-name: slideIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
}

#warcraft-game-expantion {
    animation-name: slideIn;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
}

#warcraft-server {
    animation-name: slideIn;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
}

h2 {
    font-size: 25px;
}

@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #EAE4CC,
        0 0 4px #EAE4CC,
        0 0 4px #EAE4CC,
        0 0 40px #E15546,
        0 0 150px #E15546,
        0 0 150px #E15546,
        0 0 150px #E15546;
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 2px #fff,
      0 0 2px #fff,
      0 0 70px rgb(227, 24, 24),
      0 0 150px rgb(227, 24, 24),
      0 0 70px rgb(227, 24, 24),
      0 0 80px rgb(227, 24, 24);
  }
}